In [51]:
from bs4 import BeautifulSoup
import requests as req
import pandas as pd
import urllib.request

In [52]:
url ="http://comp.fnguide.com/SVO2/ASP/SVD_Finance.asp?pGB=1&gicode=A005930"
response = req.get(url)
# html = urllib.request.urlopen(url).read()
response

In [54]:
soup = BeautifulSoup(response.text, "html.parser")

In [64]:
# 테이블 찾기
tabletag = soup.find(name="div",
                     attrs={"class":"um_table"})
tabletag

<div class="um_table" id="divSonikY" style="display:none;">
<table class="us_table_ty1 h_fix zigbg_no">
<caption class="cphidden">포괄손익계산서</caption>
<colgroup>
<col style="width: 35%;"/>
<col/>
<col/>
<col/>
<col/>
<col/>
<col/>
</colgroup>
<thead>
<tr>
<th class="clf tbold" scope="col">IFRS(연결)</th>
<th scope="col">2017/12</th>
<th scope="col">2018/12</th>
<th scope="col">2019/12</th>
<th scope="col">2020/09</th>
<th scope="col">전년동기</th>
<th class="cle" scope="col">전년동기(%)</th>
</tr>
</thead>
<tbody>
<tr class="rwf rowBold">
<th class="l clf" scope="row">
<div class="th_b">매출액</div>
</th>
<td class="r">2,395,754</td>
<td class="r">2,437,714</td>
<td class="r">2,304,009</td>
<td class="r">1,752,555</td>
<td class="r">1,705,161</td>
<td class="r cle">2.8</td>
</tr>
<tr class="rwf">
<th class="l clf" scope="row">
<div class="">매출원가</div>
</th>
<td class="r">1,292,907</td>
<td class="r">1,323,944</td>
<td class="r">1,472,395</td>
<td class="r">1,066,834</td>
<td class="r">1,086,850</td>
<td class="r cle"><span class="tcr">-1.8</span></td>
</tr>
<tr class="rwf">
<th class="l clf" scope="row">
<div class="">매출총이익</div>
</th>
<td class="r">1,102,847</td>
<td class="r">1,113,770</td>
<td class="r">831,613</td>
<td class="r">685,721</td>
<td class="r">618,311</td>
<td class="r cle">10.9</td>
</tr>
<tr class="rwf acd_dep_start_close" id="p_grid1_4">
<th class="l clf" scope="row">
<div class=""><span class="txt_acd">판매비와관리비</span><a class="btn_acdopen" href="javascript:foldOpen('grid1_4');" id="grid1_4"><span class="blind" id="span_grid1_4">계산에 참여한 계정 펼치기</span></a></div>
</th>
<td class="r">566,397</td>
<td class="r">524,903</td>
<td class="r">553,928</td>
<td class="r">416,252</td>
<td class="r">412,229</td>
<td class="r cle">1.0</td>
</tr>
<tr class="c_grid1_4 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   인건비</th>
<td class="r">67,972</td>
<td class="r">64,514</td>
<td class="r">64,226</td>
<td class="r">51,701</td>
<td class="r">49,271</td>
<td class="r cle">4.9</td>
</tr>
<tr class="c_grid1_4 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   유무형자산상각비</th>
<td class="r">13,366</td>
<td class="r">14,477</td>
<td class="r">20,408</td>
<td class="r">16,526</td>
<td class="r">14,977</td>
<td class="r cle">10.3</td>
</tr>
<tr class="c_grid1_4 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   연구개발비</th>
<td class="r">163,556</td>
<td class="r">183,541</td>
<td class="r">199,072</td>
<td class="r">158,894</td>
<td class="r">149,880</td>
<td class="r cle">6.0</td>
</tr>
<tr class="c_grid1_4 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   광고선전비</th>
<td class="r">53,508</td>
<td class="r">39,985</td>
<td class="r">46,145</td>
<td class="r">27,162</td>
<td class="r">31,897</td>
<td class="r cle"><span class="tcr">-14.8</span></td>
</tr>
<tr class="c_grid1_4 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   판매비</th>
<td class="r">139,165</td>
<td class="r">123,417</td>
<td class="r">117,222</td>
<td class="r">83,790</td>
<td class="r">88,493</td>
<td class="r cle"><span class="tcr">-5.3</span></td>
</tr>
<tr class="c_grid1_4 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   관리비</th>
<td class="r">77,031</td>
<td class="r">57,548</td>
<td class="r">55,131</td>
<td class="r">42,670</td>
<td class="r">40,997</td>
<td class="r cle">4.1</td>
</tr>
<tr class="c_grid1_4 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   기타원가성비용</th>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r cle"> </td>
</tr>
<tr class="c_grid1_4 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   기타</th>
<td class="r">51,799</td>
<td class="r">41,423</td>
<td class="r">51,724</td>
<td class="r">35,509</td>
<td class="r">36,713</td>
<td class="r cle"><span class="tcr">-3.3</span></td>
</tr>
<tr class="rwf rowBold">
<th class="l clf" scope="row">
<div class="th_b">영업이익</div>
</th>
<td class="r">536,450</td>
<td class="r">588,867</td>
<td class="r">277,685</td>
<td class="r">269,469</td>
<td class="r">206,082</td>
<td class="r cle">30.8</td>
</tr>
<tr class="rwf rowBold">
<th class="l clf" scope="row">
<div class="th_b">영업이익(발표기준)</div>
</th>
<td class="r">536,450</td>
<td class="r">588,867</td>
<td class="r">277,685</td>
<td class="r">269,469</td>
<td class="r">206,082</td>
<td class="r cle">30.8</td>
</tr>
<tr class="rwf acd_dep_start_close" id="p_grid1_7">
<th class="l clf" scope="row">
<div class=""><span class="txt_acd">금융수익</span><a class="btn_acdopen" href="javascript:foldOpen('grid1_7');" id="grid1_7"><span class="blind" id="span_grid1_7">계산에 참여한 계정 펼치기</span></a></div>
</th>
<td class="r">97,374</td>
<td class="r">99,993</td>
<td class="r">101,616</td>
<td class="r">78,900</td>
<td class="r">78,645</td>
<td class="r cle">0.3</td>
</tr>
<tr class="c_grid1_7 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   이자수익</th>
<td class="r">16,142</td>
<td class="r">22,971</td>
<td class="r">26,600</td>
<td class="r">14,701</td>
<td class="r">20,171</td>
<td class="r cle"><span class="tcr">-27.1</span></td>
</tr>
<tr class="c_grid1_7 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   배당금수익</th>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r cle"> </td>
</tr>
<tr class="c_grid1_7 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   외환이익</th>
<td class="r">72,789</td>
<td class="r">66,957</td>
<td class="r">67,690</td>
<td class="r">55,874</td>
<td class="r">52,338</td>
<td class="r cle">6.8</td>
</tr>
<tr class="c_grid1_7 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   대손충당금환입액</th>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r cle"> </td>
</tr>
<tr class="c_grid1_7 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   매출채권처분이익</th>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r cle"> </td>
</tr>
<tr class="c_grid1_7 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   당기손익-공정가치측정 금융자산관련이익</th>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r cle"> </td>
</tr>
<tr class="c_grid1_7 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   금융자산처분이익</th>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r cle"> </td>
</tr>
<tr class="c_grid1_7 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   금융자산평가이익</th>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r cle"> </td>
</tr>
<tr class="c_grid1_7 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   금융자산손상차손환입</th>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r cle"> </td>
</tr>
<tr class="c_grid1_7 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   파생상품이익</th>
<td class="r">8,443</td>
<td class="r">10,065</td>
<td class="r">7,326</td>
<td class="r">8,325</td>
<td class="r">6,136</td>
<td class="r cle">35.7</td>
</tr>
<tr class="c_grid1_7 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   기타금융수익</th>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r cle"> </td>
</tr>
<tr class="rwf acd_dep_start_close" id="p_grid1_8">
<th class="l clf" scope="row">
<div class=""><span class="txt_acd">금융원가</span><a class="btn_acdopen" href="javascript:foldOpen('grid1_8');" id="grid1_8"><span class="blind" id="span_grid1_8">계산에 참여한 계정 펼치기</span></a></div>
</th>
<td class="r">89,789</td>
<td class="r">86,089</td>
<td class="r">82,749</td>
<td class="r">70,780</td>
<td class="r">63,161</td>
<td class="r cle">12.1</td>
</tr>
<tr class="c_grid1_8 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   이자비용</th>
<td class="r">6,554</td>
<td class="r">6,746</td>
<td class="r">6,864</td>
<td class="r">3,413</td>
<td class="r">5,270</td>
<td class="r cle"><span class="tcr">-35.2</span></td>
</tr>
<tr class="c_grid1_8 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   외환손실</th>
<td class="r">72,695</td>
<td class="r">71,498</td>
<td class="r">68,524</td>
<td class="r">60,997</td>
<td class="r">52,620</td>
<td class="r cle">15.9</td>
</tr>
<tr class="c_grid1_8 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   대손상각비</th>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r cle"> </td>
</tr>
<tr class="c_grid1_8 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   당기손익-공정가치측정 금융자산관련손실</th>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r cle"> </td>
</tr>
<tr class="c_grid1_8 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   매출채권처분손실</th>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r cle"> </td>
</tr>
<tr class="c_grid1_8 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   금융자산처분손실</th>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r cle"> </td>
</tr>
<tr class="c_grid1_8 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   금융자산평가손실</th>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r cle"> </td>
</tr>
<tr class="c_grid1_8 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   금융자산손상차손</th>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r cle"> </td>
</tr>
<tr class="c_grid1_8 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   파생상품손실</th>
<td class="r">10,540</td>
<td class="r">7,844</td>
<td class="r">7,361</td>
<td class="r">6,370</td>
<td class="r">5,272</td>
<td class="r cle">20.8</td>
</tr>
<tr class="c_grid1_8 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   기타금융원가</th>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r cle"> </td>
</tr>
<tr class="rwf acd_dep_start_close" id="p_grid1_9">
<th class="l clf" scope="row">
<div class=""><span class="txt_acd">기타수익</span><a class="btn_acdopen" href="javascript:foldOpen('grid1_9');" id="grid1_9"><span class="blind" id="span_grid1_9">계산에 참여한 계정 펼치기</span></a></div>
</th>
<td class="r">30,107</td>
<td class="r">14,850</td>
<td class="r">17,787</td>
<td class="r">11,012</td>
<td class="r">11,789</td>
<td class="r cle"><span class="tcr">-6.6</span></td>
</tr>
<tr class="c_grid1_9 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   이자수익</th>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r cle"> </td>
</tr>
<tr class="c_grid1_9 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   배당금수익</th>
<td class="r">1,289</td>
<td class="r">1,314</td>
<td class="r">1,547</td>
<td class="r">1,125</td>
<td class="r">1,161</td>
<td class="r cle"><span class="tcr">-3.1</span></td>
</tr>
<tr class="c_grid1_9 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   외환이익</th>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r cle"> </td>
</tr>
<tr class="c_grid1_9 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   재고자산감모손실환입</th>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r cle"> </td>
</tr>
<tr class="c_grid1_9 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   재고자산폐기(처분)이익</th>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r cle"> </td>
</tr>
<tr class="c_grid1_9 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   당기손익-공정가치측정 금융자산평가이익</th>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r cle"> </td>
</tr>
<tr class="c_grid1_9 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   자산처분(폐기)이익</th>
<td class="r">3,143</td>
<td class="r">4,235</td>
<td class="r">3,524</td>
<td class="r">1,518</td>
<td class="r">2,625</td>
<td class="r cle"><span class="tcr">-42.1</span></td>
</tr>
<tr class="c_grid1_9 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   자산평가이익</th>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r cle"> </td>
</tr>
<tr class="c_grid1_9 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   자산손상차손환입</th>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r cle"> </td>
</tr>
<tr class="c_grid1_9 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   파생상품이익</th>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r cle"> </td>
</tr>
<tr class="c_grid1_9 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   임대료수익</th>
<td class="r">1,435</td>
<td class="r">1,409</td>
<td class="r">1,534</td>
<td class="r">1,112</td>
<td class="r">1,156</td>
<td class="r cle"><span class="tcr">-3.7</span></td>
</tr>
<tr class="c_grid1_9 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   로열티수익</th>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r cle"> </td>
</tr>
<tr class="c_grid1_9 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   수수료수익</th>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r cle"> </td>
</tr>
<tr class="c_grid1_9 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   대손충당금환입</th>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r cle"> </td>
</tr>
<tr class="c_grid1_9 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   충당부채환입액</th>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r cle"> </td>
</tr>
<tr class="c_grid1_9 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   기타</th>
<td class="r">24,239</td>
<td class="r">7,893</td>
<td class="r">11,182</td>
<td class="r">7,255</td>
<td class="r">6,848</td>
<td class="r cle">5.9</td>
</tr>
<tr class="rwf acd_dep_start_close" id="p_grid1_10">
<th class="l clf" scope="row">
<div class=""><span class="txt_acd">기타비용</span><a class="btn_acdopen" href="javascript:foldOpen('grid1_10');" id="grid1_10"><span class="blind" id="span_grid1_10">계산에 참여한 계정 펼치기</span></a></div>
</th>
<td class="r">14,196</td>
<td class="r">11,420</td>
<td class="r">14,147</td>
<td class="r">18,618</td>
<td class="r">8,752</td>
<td class="r cle">112.7</td>
</tr>
<tr class="c_grid1_10 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   이자비용</th>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r cle"> </td>
</tr>
<tr class="c_grid1_10 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   외환손실</th>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r cle"> </td>
</tr>
<tr class="c_grid1_10 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   재고자산감모손실</th>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r cle"> </td>
</tr>
<tr class="c_grid1_10 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   재고자산폐기(처분)손실</th>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r cle"> </td>
</tr>
<tr class="c_grid1_10 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   당기손익-공정가치측정 금융자산평가손실</th>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r cle"> </td>
</tr>
<tr class="c_grid1_10 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   자산처분(폐기)손실</th>
<td class="r">1,225</td>
<td class="r">907</td>
<td class="r">1,445</td>
<td class="r">1,198</td>
<td class="r">1,031</td>
<td class="r cle">16.2</td>
</tr>
<tr class="c_grid1_10 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   자산평가손실</th>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r cle"> </td>
</tr>
<tr class="c_grid1_10 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   자산손상차손</th>
<td class="r">1,434</td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r cle"> </td>
</tr>
<tr class="c_grid1_10 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   파생상품손실</th>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r cle"> </td>
</tr>
<tr class="c_grid1_10 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   기타대손상각비</th>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r cle"> </td>
</tr>
<tr class="c_grid1_10 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   충당부채전입액</th>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r cle"> </td>
</tr>
<tr class="c_grid1_10 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   기타</th>
<td class="r">11,537</td>
<td class="r">10,513</td>
<td class="r">12,702</td>
<td class="r">17,420</td>
<td class="r">7,721</td>
<td class="r cle">125.6</td>
</tr>
<tr class="rwf acd_dep_start_close" id="p_grid1_11">
<th class="l clf" scope="row">
<div class=""><span class="txt_acd">종속기업,공동지배기업및관계기업관련손익</span><a class="btn_acdopen" href="javascript:foldOpen('grid1_11');" id="grid1_11"><span class="blind" id="span_grid1_11">계산에 참여한 계정 펼치기</span></a></div>
</th>
<td class="r">2,014</td>
<td class="r">5,398</td>
<td class="r">4,130</td>
<td class="r">3,725</td>
<td class="r">2,527</td>
<td class="r cle">47.4</td>
</tr>
<tr class="c_grid1_11 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   지분법손익</th>
<td class="r">2,014</td>
<td class="r">5,398</td>
<td class="r">4,130</td>
<td class="r">3,725</td>
<td class="r">2,527</td>
<td class="r cle">47.4</td>
</tr>
<tr class="c_grid1_11 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   종속기업,공동지배기업및관계기업투자주식처분손익</th>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r cle"> </td>
</tr>
<tr class="c_grid1_11 rwf acd_dep2_sub" style="display:none;">
<th class="l clf" scope="row">   종속기업,공동지배기업및관계기업투자주식손상관련손익</th>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r"> </td>
<td class="r cle"> </td>
</tr>

In [101]:
# 테이블정보 수집하기
# tbody의 tr 태그를 모두 찾는다. 반복으로 찾기
rows = tabletag.find("tbody").findAll("tr")
rows[78]

<tr class="rwf">
<th class="l clf" scope="row">
<div class="">   비지배주주순이익</div>
</th>
<td class="r">8,422</td>
<td class="r">4,540</td>
<td class="r">2,338</td>
<td class="r">1,553</td>
<td class="r">2,348</td>
<td class="r cle"><span class="tcr">-33.8</span></td>
</tr>

In [108]:
columns = rows[0].findAll(name="td")

In [109]:
rows[1].findAll(name="td")

[<td class="r">1,292,907</td>,
 <td class="r">1,323,944</td>,
 <td class="r">1,472,395</td>,
 <td class="r">1,066,834</td>,
 <td class="r">1,086,850</td>,
 <td class="r cle"><span class="tcr">-1.8</span></td>]

In [104]:
columnslen = len(columns)

In [107]:
# 값을 가져올 수 있음.
columnlist.append(columns[0].text)
columnlist.append(columns[1].text)
columnlist

['2,395,754', '2,437,714', '2,395,754', '2,437,714', '2,395,754', '2,437,714']

In [118]:
# 행 전체를 저장할 리스트
rowlist=[]
# 행별 컬럼값을 저장할 리스트
columnlist=[] 

for i in range(0,len(rows)): 
    columns = rows[i].findAll("td") # 행을 반복하면서 td를 모두 찾는다.
    columnslen = len(columns)
    for j in range(0,columnslen): # columnslen의 길이만큼.
        columnlist.append(columns[j].text) # columnslist td값을 다 추가시켜줌
        
    rowlist.append(columnlist) # 전체데이터 수집
    columnlist=[] # 행별 컬럼 데이터 수집 후 컬럼리스트 초기화

In [120]:
# 코딩 다른방법
for eachRow in rows: 
    columns = eachRow.findAll("td") # 행을 반복하면서 td를 모두 찾는다.
    columnslen = len(columns)
    for eachColumn in columns: # columnslen의 길이만큼.
        columnlist.append(eachColumn.text) # columnslist td값을 다 추가시켜줌
        
    rowlist.append(columnlist) # 전체데이터 수집
    columnlist=[] # 행별 컬럼 데이터 수집 후

In [121]:
rowlist

[['2,395,754', '2,437,714', '2,304,009', '1,752,555', '1,705,161', '2.8'],
 ['1,292,907', '1,323,944', '1,472,395', '1,066,834', '1,086,850', '-1.8'],
 ['1,102,847', '1,113,770', '831,613', '685,721', '618,311', '10.9'],
 ['566,397', '524,903', '553,928', '416,252', '412,229', '1.0'],
 ['67,972', '64,514', '64,226', '51,701', '49,271', '4.9'],
 ['13,366', '14,477', '20,408', '16,526', '14,977', '10.3'],
 ['163,556', '183,541', '199,072', '158,894', '149,880', '6.0'],
 ['53,508', '39,985', '46,145', '27,162', '31,897', '-14.8'],
 ['139,165', '123,417', '117,222', '83,790', '88,493', '-5.3'],
 ['77,031', '57,548', '55,131', '42,670', '40,997', '4.1'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['51,799', '41,423', '51,724', '35,509', '36,713', '-3.3'],
 ['536,450', '588,867', '277,685', '269,469', '206,082', '30.8'],
 ['536,450', '588,867', '277,685', '269,469', '206,082', '30.8'],
 ['97,374', '99,993', '101,616', '78,900', '78,645', '0.3'],
 ['16,142', '22,971', '26,600', '14,701', '20,171', '-27.1'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['72,789', '66,957', '67,690', '55,874', '52,338', '6.8'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['8,443', '10,065', '7,326', '8,325', '6,136', '35.7'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['89,789', '86,089', '82,749', '70,780', '63,161', '12.1'],
 ['6,554', '6,746', '6,864', '3,413', '5,270', '-35.2'],
 ['72,695', '71,498', '68,524', '60,997', '52,620', '15.9'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['10,540', '7,844', '7,361', '6,370', '5,272', '20.8'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['30,107', '14,850', '17,787', '11,012', '11,789', '-6.6'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['1,289', '1,314', '1,547', '1,125', '1,161', '-3.1'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['3,143', '4,235', '3,524', '1,518', '2,625', '-42.1'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['1,435', '1,409', '1,534', '1,112', '1,156', '-3.7'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['24,239', '7,893', '11,182', '7,255', '6,848', '5.9'],
 ['14,196', '11,420', '14,147', '18,618', '8,752', '112.7'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['1,225', '907', '1,445', '1,198', '1,031', '16.2'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['1,434', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['11,537', '10,513', '12,702', '17,420', '7,721', '125.6'],
 ['2,014', '5,398', '4,130', '3,725', '2,527', '47.4'],
 ['2,014', '5,398', '4,130', '3,725', '2,527', '47.4'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['561,960', '611,600', '304,322', '273,707', '227,131', '20.5'],
 ['140,092', '168,151', '86,933', '75,700', '62,012', '22.1'],
 ['421,867', '443,449', '217,389', '198,007', '165,118', '19.9'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['421,867', '443,449', '217,389', '198,007', '165,118', '19.9'],
 ['413,446', '438,909', '215,051', '196,454', '162,771', '20.7'],
 ['8,422', '4,540', '2,338', '1,553', '2,348', '-33.8'],
 ['2,395,754', '2,437,714', '2,304,009', '1,752,555', '1,705,161', '2.8'],
 ['1,292,907', '1,323,944', '1,472,395', '1,066,834', '1,086,850', '-1.8'],
 ['1,102,847', '1,113,770', '831,613', '685,721', '618,311', '10.9'],
 ['566,397', '524,903', '553,928', '416,252', '412,229', '1.0'],
 ['67,972', '64,514', '64,226', '51,701', '49,271', '4.9'],
 ['13,366', '14,477', '20,408', '16,526', '14,977', '10.3'],
 ['163,556', '183,541', '199,072', '158,894', '149,880', '6.0'],
 ['53,508', '39,985', '46,145', '27,162', '31,897', '-14.8'],
 ['139,165', '123,417', '117,222', '83,790', '88,493', '-5.3'],
 ['77,031', '57,548', '55,131', '42,670', '40,997', '4.1'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['51,799', '41,423', '51,724', '35,509', '36,713', '-3.3'],
 ['536,450', '588,867', '277,685', '269,469', '206,082', '30.8'],
 ['536,450', '588,867', '277,685', '269,469', '206,082', '30.8'],
 ['97,374', '99,993', '101,616', '78,900', '78,645', '0.3'],
 ['16,142', '22,971', '26,600', '14,701', '20,171', '-27.1'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['72,789', '66,957', '67,690', '55,874', '52,338', '6.8'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['8,443', '10,065', '7,326', '8,325', '6,136', '35.7'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['89,789', '86,089', '82,749', '70,780', '63,161', '12.1'],
 ['6,554', '6,746', '6,864', '3,413', '5,270', '-35.2'],
 ['72,695', '71,498', '68,524', '60,997', '52,620', '15.9'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['10,540', '7,844', '7,361', '6,370', '5,272', '20.8'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['30,107', '14,850', '17,787', '11,012', '11,789', '-6.6'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['1,289', '1,314', '1,547', '1,125', '1,161', '-3.1'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['3,143', '4,235', '3,524', '1,518', '2,625', '-42.1'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['1,435', '1,409', '1,534', '1,112', '1,156', '-3.7'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['24,239', '7,893', '11,182', '7,255', '6,848', '5.9'],
 ['14,196', '11,420', '14,147', '18,618', '8,752', '112.7'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['1,225', '907', '1,445', '1,198', '1,031', '16.2'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['1,434', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['11,537', '10,513', '12,702', '17,420', '7,721', '125.6'],
 ['2,014', '5,398', '4,130', '3,725', '2,527', '47.4'],
 ['2,014', '5,398', '4,130', '3,725', '2,527', '47.4'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['561,960', '611,600', '304,322', '273,707', '227,131', '20.5'],
 ['140,092', '168,151', '86,933', '75,700', '62,012', '22.1'],
 ['421,867', '443,449', '217,389', '198,007', '165,118', '19.9'],
 ['\xa0', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0'],
 ['421,867', '443,449', '217,389', '198,007', '165,118', '19.9'],
 ['413,446', '438,909', '215,051', '196,454', '162,771', '20.7'],
 ['8,422', '4,540', '2,338', '1,553', '2,348', '-33.8']]

In [ ]:
# th헤드로 컬럼 리스트 추출해보자.
columnlist = []

In [122]:
pd.DataFrame(rowlist)

             0          1          2          3          4      5
0    2,395,754  2,437,714  2,304,009  1,752,555  1,705,161    2.8
1    1,292,907  1,323,944  1,472,395  1,066,834  1,086,850   -1.8
2    1,102,847  1,113,770    831,613    685,721    618,311   10.9
3      566,397    524,903    553,928    416,252    412,229    1.0
4       67,972     64,514     64,226     51,701     49,271    4.9
..         ...        ...        ...        ...        ...    ...
153    421,867    443,449    217,389    198,007    165,118   19.9
154
155    421,867    443,449    217,389    198,007    165,118   19.9
156    413,446    438,909    215,051    196,454    162,771   20.7
157      8,422      4,540      2,338      1,553      2,348  -33.8

[158 rows x 6 columns]

In [123]:
tableresult = pd.DataFrame(rowlist, columns=["2017/12","2018/12","2019/12","2020/09","전년동기","전년동기(%)"])

In [125]:
tableresult

       2017/12    2018/12    2019/12    2020/09       전년동기 전년동기(%)
0    2,395,754  2,437,714  2,304,009  1,752,555  1,705,161     2.8
1    1,292,907  1,323,944  1,472,395  1,066,834  1,086,850    -1.8
2    1,102,847  1,113,770    831,613    685,721    618,311    10.9
3      566,397    524,903    553,928    416,252    412,229     1.0
4       67,972     64,514     64,226     51,701     49,271     4.9
..         ...        ...        ...        ...        ...     ...
153    421,867    443,449    217,389    198,007    165,118    19.9
154
155    421,867    443,449    217,389    198,007    165,118    19.9
156    413,446    438,909    215,051    196,454    162,771    20.7
157      8,422      4,540      2,338      1,553      2,348   -33.8

[158 rows x 6 columns]